<!-- app/views/flowcharts/index.html.erb -->

<div style="display: flex;">
  <canvas id="externalCanvas" width="400" height="600" style="border: 1px solid black;"></canvas>
  <canvas id="flowchartCanvas" width="800" height="600" style="border: 1px solid black;"></canvas>
</div>

<%= javascript_pack_tag 'flowchart' %>
